<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CVirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div class="container">
<h1>CVirus Tracker Application</h1>
<br>Provided information can be incorrect, created and provided just for application test.</br>
Die bereitgestellten Informationen dienen zu Testzwecken der Anwendung und können falsch oder unvollständig sein.</p>

<div class="jumbotron">
    <h1 class="display-4" th:text="${totalReportedCases}"></h1>
    <p class="lead" >Gesamtzahl der seit dem letzten Tag gemeldeten Fälle</p>
    <hr class="my-4">
    <h1 class="display-6" th:text="${totalChanges}"></h1>
    <p class="lead">Neue Fälle seit dem letzten Tag</p>
</div>

<table class="table">
    <tr>
        <th>Stadt</th>
        <th>Land</th>
        <th>Gesamt</th>
        <th>Neue Fälle bis Gestern</th>
    </tr>
    <tr th:each="locationState : ${locationStates}">
        <td th:text="${locationState.state}"></td>
        <td th:text="${locationState.country}"></td>
        <td th:text="${locationState.latestTotalCases}">0</td>
        <td th:text="${locationState.diffFromPrevDay}">0</td>
    </tr>
</table>
</div>
</body>

</html>